body {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
}

header h1 {
    text-decoration: underline;
    margin: 10px 0px 0px;
}

header p {
    margin: 2px 0px 5px;
    font-weight: bold;
    font-size: 18px;
}

header div {
    background-color: black;
    display: inline-block;
    padding: 3px 10px;
    color: white;
}

.userImg {
    background-color: rgb(150, 93, 19);
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    margin: 30px 0px;
    margin-left: 10px;
    color: white;
}
#recievedImg,
#cendImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto;
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.warning {
    background-color: rgb(184, 148, 29);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 10px;
}

.form {
    justify-content: center;
    display: flex;
    width: 100%;
}

.form fieldset {
    background-color: rgb(32, 179, 63);
    border-radius: 10px;
    padding: 30px 30px 10px;
    border: none;
    width: 90%;
}

.form fieldset legend {
    background-color: rgb(202, 202, 202);
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.form fieldset div {
    background-color: rgb(11, 71, 5);
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin: 10px auto;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 15px;
    display: flex;
    width: 90%;
}

.form fieldset div p {
    border-radius: 10px;
    background-color: rgb(0, 139, 139);
    position: absolute;
    font-weight: bold;
    padding: 2px 10px;
    margin-left: 25px;
    margin-top: -5px;
    font-size: 18px;
    color: white;
    left: 0;
    top: 0;
}

.form fieldset div .gender input {
    width: 10%;
    padding: 0;
    margin: 0;
}

.form fieldset div .cnic p span {
    font-size: 13px;
}

.form fieldset div input,
.form fieldset div select,
.form fieldset div textarea {
    background-color: rgba(0, 255, 128, 0.137);
    border-radius: 10px;
    padding: 10px 5px;
    color: white;
    outline: none;
    border: none;
    width: 100%;
}

.form fieldset div select option {
    background-color: teal;
}

.form fieldset .submit {
    border-radius: 10px;
    padding: 0;
    width: 10%;
}

.form fieldset .submit button {
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    width: 100%;
}

.form fieldset table {
    width: 100%;
}

.form fieldset table tr th,
.form fieldset table tr td{
    border: 1px solid white;
}

.form fieldset table tr th {
    color: white;
    font-size: 15px;
    padding: 20px 10px;
}

.form fieldset table tr td {
    color: rgb(201, 201, 201);
    font-size: 15px;
    padding: 20px 10px;
    text-align: right;
}

.form fieldset table tr td input {
    width: 90%;
}

.recieved {
    background-color: forestgreen;
    border-radius: 20px;
    margin: 30px auto;
    display: none;
    padding: 20px;
    width: 90%;
}

.recieved h1 {
    border-bottom: 10px double white;
    color: ghostwhite;
}

.recieved p {
    position: relative;
    color: darkgray;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    width: 100%;
}

.recieved p span {
    background-color: darkblue;
    color: rgb(15, 206, 25);
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 80%;
    right: 0px;
}

.recieved table {
    width: 100%;
}

.recieved h3 {
    text-decoration: double underline;
    text-align: center;
    color: darkgrey;
    font-size: 24px;
}

.recieved table tr th {
    border: 2px solid white;
    color: darkgrey;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.recieved table tr td {
    background-color: darkblue;
    border: 2px solid white;
    color: rgb(15, 206, 25);
    text-align: center;
}
